

  <div id="colorlib-page">
<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
    <aside id="colorlib-aside" role="complementary" class="js-fullheight">
      <div class="user-panel d-flex">
        <div class="image">
          <img src="<%= user.image.slice(6)%>" class="img-circle elevation-2" alt="User Image" />
        </div>
        <div class="info"> 
           <a href="#" class="d-block" style="font-size: 0.8em;"><%= user.full_name%></a> 
         </div>
      </div>
        <nav id="colorlib-main-menu" role="navigation">
            <ul>
                <li><a href="/userDashboard">Home</a></li>
                <li class="colorlib-active"><a  href="/userDashboard/articles/<%= user.id %>">Articles</button></li>
                <li><a href="/userDashboard/profile/<%user.id%>">Profile</a></li>
                <li><a href="/userDashboard/Notifications/<%user.id%>">Notifications</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
        </nav>
    </aside>

    
    
      

        <div id="colorlib-main">
          <section class="ftco-section ftco-no-pt ftco-no-pb">
          <div class="container">
              <div class="row d-flex">
                  <div class="col-xl-8 py-5 px-md-5">
                      <div class="row pt-md-4">

                      <%-  include ('partials/dashcards') %>

                      </div><!-- END-->
                   
                </div>
  
  
                <div class="col-xl-4 sidebar ftco-animate bg-light pt-5">
              <div class="sidebar-box pt-md-4">
                <form action="#" class="search-form">
                  <div class="form-group">
                    <span class="icon icon-search"></span>
                    <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                  </div>
                </form>
              </div>
              
                          
  
  
              
            </div><!-- END COL -->
              </div>
          </div>
  </div>





  
    

