<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
    <aside id="colorlib-aside" role="complementary" class="js-fullheight">
      <div class="user-panel d-flex">
        <div class="image">
          <img src="<%= user.image.slice(7)%>" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block"><%= user.full_name%></a>
        </div>
      </div>
        <nav id="colorlib-main-menu" role="navigation">
            <ul>
                <li class="colorlib-active"><a href="index.html">Home</a></li>
                <li><a onclick="" href="/userDashboard/articles/:userid">Articles</button></li>
                <li><a href="/userDashboard/profile/:userid">Profile</a></li>
                <li><a href="/userDashboard/Notifications/:userid">Notifications</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
        </nav>
    </aside>
    <div id="colorlib-main">
      

    </div>